<div class="ekart--product--container">
    <!-- <img [src]='product.pImage' alt="" height="300px">
    <p>Name: {{ product.name }}</p>
    <p>Price: {{ '$' + product.price }}</p>
    <p>Color: {{ product.color }}</p>
    <p>Discounted Price: ${{ getDiscountedPrice().toFixed(2) }}</p>
    <p>{{ product.inStock > 0 ? 'only ' + product.inStock + ' items left' : 'Out of Stock' }}</p>
    <button (click)="decreamentCartValue()">-</button>
        <span>{{ addToCart }}</span>
    <button (click)="increamentCartValue()">+</button> -->

    <!-- <button bind-disabled="!(product.inStock > 0)">Buy Now</button> -->
    <!-- <input type="text" (input)="onNameChange($event)"><br/> -->
    <!-- <input type="text" bind-value="name"> -->

    <!-- <p>name = {{ name }}</p> -->
    <app-search (searchTextChanged)="setSearchText($event)"></app-search>
    <!-- <div *ngFor="let item of listofString">
        <p>Current element of an array is {{ item }}</p>
    </div> -->
    <product-list [searchText]="searchText"></product-list>
</div>