<!-- <h2>Welcome to {{ title }}</h2> -->
<!-- <button>Click Me</button> -->

<top-header></top-header>

<!-- rendering top-header as html attribute instead of html element or tag -->
<!-- <div top-header></div> -->

<!-- rendering top-header as html a css class instead of html element or attribute-->
<!-- <div class="top-header"></div> -->

<!-- rendering top-header as html a css id instead of html element or attribute or css class-->
<!-- <div id="top-header"></div> -->

<app-header></app-header>
<app-container></app-container>
